.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
}

.form-container {
    width: 700px;
    height: 700px;
    background-color: var(--dutch-white);
    border-radius: 30%;
    margin-top: 80px;
    box-shadow: 0 0 10px 5px var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form-container h1 {
    font-size: 54px;
    font-weight: 400;
    text-shadow: 1px 5px 5px rgb(149, 182, 175);
    margin-top: 60px;

}

.form-container form {
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 24px;
    padding-bottom: 20px;
}

.form-container form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-container form div:first-child {
    font-size: 32px;
}

.form-container form div:first-child input {
    height: 50px;
    border: solid var(--periwinkle);
}

.form-container form div input {
    height: 40px;
    width: 300px;
    border-radius: 10px;
    border: none;
    background-color: rgb(214, 203, 173);
    box-shadow: 2px 2px 5px var(--gray);
    text-align: center;
}


.form-container form div input:focus {
    outline: none;
    box-shadow: 2px 2px 10px 5px var(--gray);
    border: 2px dotted var(--periwinkle);
}

.form-container h2 {
    font-size: 54px;
    font-weight: 400;
    text-shadow: 1px 5px 5px var(--salmon-pink);
    margin-top: -60px;
}

.form-container h2 span img {
    position: absolute;
    top: -90px;
    left: -78px;
    width: 150px;
    transform: rotate(-32deg);
    visibility: hidden;
}

.form-container .streak {
    font-size: 22px;
    font-weight: 300;
    margin-top: -244px;
    color: black;
}

.form-container .streak img {
    height: 40px;
    margin-top: 12px;
}

.form-container .current-goal {
    font-size: 30px;
    font-weight: 400;
    margin-top: -360px;
    color: black;
}

.form-container .task-box {
    position: relative;
    width: 100%;
    background-color: var(--mint-green);
    height: 400px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.form-container .task-box .task {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-container .task-box .task label {
    font-size: 24px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 20px;
    color: black;
}

.form-container .task-box .task input[type="checkbox"] {
    width: 40px;
    height: 40px;
    border-radius: 30%;
    background-color: var(--dutch-white);
    box-shadow: 3px 3px 5px rgb(135, 165, 158);
    margin: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container .task-box .task input[type="checkbox"]:hover {
    box-shadow: 4px 4px 5px rgb(135, 165, 158);
}

.form-container .task-box .task input[type="checkbox"]::after {
    box-shadow: 1px 1px 3px rgb(135, 165, 158);
}

.label-text {
    color: black;
}

.form-container button[type="submit"] {
    background-color: var(--mint-green);
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: black;
    padding: 15px 60px; /* for button length */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    width: 190px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-container button[type="submit"]:hover {
    /* background-color: #91cbbf; darker shade of mint-green */
    /* transform: scale(1.05); Increase size by 5% upon hover */
    box-shadow: 0 0 20px var(--gray);
}

.createGoal-modal {
    width: 170px;
}

@media only screen and (max-width: 600px) {
    .form-container {
        border-radius: 30px;
        height: 650px;
        margin-top: 50px;
        width: 300px;
    }

    .form-container h1 {
        font-size: 30px;
        margin-top: 10px;
    }

    .form-container form {
        font-size: 15px;
        height: 73%;
        padding-bottom: 45px;
        width: 80%;
    }

    .form-container form div {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-container form div:first-child {
        font-size: 22px;
    }

    .form-container form div input {
        border-radius: 10px;
        height: 35px;
        text-align: start;
        width: 240px;
    }

    .form-container form div:first-child input {
        height: 40px;
    }
}