:root{
    --light: #e2e2df;
    --gray: #d2d2cf;
    --brown: #e2cfc4;
    --orange: #f7c6a3;
    --yellow: #faedcb;
    --green: #bae3da;
    --blue: #a5dbf2;
    --purple: #d3c0f0;
    --pink: #f2bdda;
    --red: #faa5ab;
}