header {
  display: flex;
  flex-direction: Row;
  background-color: var(--peach);
  justify-content: space-between;
  height: 70px;
}

nav {
  display: flex;
  flex-direction: Row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding: 0 20px; */
}

.header2 nav {
  justify-content: space-around;
}

a {
  text-decoration: none;
  padding: 5px 10px;
  color: black;
  margin-right: 10px;
  font-size: 1.2rem;
  position: relative;
}

a:nth-child(5) {
  justify-self: flex-end;
}

a img {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -20px;
  left: 0;
  /* visibility: hidden; */
}

a .pageName {
  text-shadow: 5px 0 5px var(--platnum);
  visibility: hidden;
}

a:hover img {
  visibility: hidden;
}

a:hover .pageName {
  visibility: visible;
}

.hidden{
  display: none;
}